{% spaceless %}
    <button class="{{ ns }}-btn-next">
        <span class="{{ ns }}-btn-next-span">{{ "Подготовка к съемке"| trans }}</span>
        <a class="{{ ns }}-icon-next"></a>
    </button>
{% endspaceless %}