#{$ns}-btn-next {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 49px;
    min-width: 289px;
    height: 50px;
    background-color: #31d0e7;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        outline: none;
        border: none;
        background-color: #4cdbef;
    }
}

#{$ns}-icon-next {
    position: absolute;
    top: 50%;
    right: 32px;
    margin-top: -9px;
    width: 3px;
    height: 20px;
    background-color: #fff;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 11px;
        margin-left: 4px;
        width: 3px;
        height: 13px;
        background-color: #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 11px;
        margin-left: -4px;
        width: 3px;
        height: 13px;
        display: block;
        background-color: #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);

    }
}